<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<form [formGroup]="apiForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <fieldset>
  <!-- Form Name -->
  <h1 class="display-1" style="text-align: center;">Consulta da API</h1>
  

  
  <!-- Select input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="match">Match</label>
    <div class="col-md-4">
    <select [(ngModel)]="selectedValue" formControlName="match" class="form-select" aria-label="Default select example" required="">
        <option *ngFor="let m of matches.data" [value]="m.match_id" id="match" >{{m.name}}</option>
     </select>
    </div>
  </div>

  <!-- Select input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="eventType">Event type</label>
    <div class="col-md-4">
    <select [(ngModel)]="selectedValue2" formControlName="eventType" class="form-select" aria-label="Default select example" required="">
        <option *ngFor="let t of eventTypes" [value]="t.code" id="eventType" >{{t.name}}</option>
     </select>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-4">
      <button id="" name="" class="btn btn-primary" type="submit" [disabled]="!apiForm.valid" ng-click="test = true">Enviar</button>
    </div>
  </div>
  </fieldset>
</form>

<h1 class="display-1" style="text-align: center;">Data</h1>
<figure id="scatter"></figure>